[submodule "test/submodules/AbstractionLayer"]
	path = test/submodules/AbstractionLayer
	url = https://GriesserElectronicAG@dev.azure.com/GriesserElectronicAG/IoT%20Aktor/_git/GE.IoT.AbstractionLayer
[submodule "test/testrunner"]
	path = test/testrunner
	url = https://github.com/google/googletest.git
[submodule "test/submodules/GeLib"]
	path = test/submodules/GeLib
	url = https://GriesserElectronicAG@dev.azure.com/GriesserElectronicAG/IoT%20Aktor/_git/GE.IoT.GeLib
